* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.caesar {
    grid-area: caesar;
    align-self: center;
    text-align: center;


}

.veginere {
    grid-area: veginere;
    align-self: center;
    text-align: center;
}

.home-button {
    grid-area: home-button;
    align-self: center;
    text-align: center;
    justify-self: center;
    /* padding: 20px; */

}

button {
    height: 70px;
    width: 80px;
    font-size: 20px;
    cursor: pointer;
}

.container {
    height: 100vh;
    background-image: url("http://getwallpapers.com/wallpaper/full/0/a/c/399821.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-rows: 30 60%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'home-button home-button'
        'caesar veginere ';

}

.border {
    color: azure;
    background: rgba(49, 29, 29, 0.8);
    width: 50%;
    margin: 0 auto;
    border: solid;
    border-radius: 5%;
    border-color: azure;
}

.cta {
    color: azure;
    text-decoration: none;

}

.cipher-form {
    background-color: #eee;
    padding: 20px;
    margin: 15% auto;
    width: 540px;
    max-height: 55%;
    font: 16px sans-serif;
    border-radius: 10px;
}

legend {
    text-align: center;
}

.number-input {
    width: 55px;
}

.center {
    text-align: center;
}

.caesar-cypher {
    margin: 10px 0;
    width: 540px;
    max-height: 40%;
    height: 120px;
}

.coded {
    background-color: #eee;
    padding: 10px;
    margin: 15% auto;
    width: 540px;
    max-height: 40%;
    border-radius: 10px
}

.coded p {
    margin-top: 2em;
}

.alerts {
    color: red;
}