{% extends 'layout.html' %}
{% block content %}
<form action="" method="post" class=' '>
    {{ form.hidden_tag() }}
    <fieldset class='caesar-form'>

        <div>
            <legend>{{ legend }}</legend>
            <p> {{ form.keyWord.label }}
                {{ form.keyWord(min=0, max=26, class='number-input') }} </p>

        </div>
        <div class='center'>
            <p>{{ form.textArea.label }}</p>
            {{ form.textArea(class='caesar-cypher') }}
        </div>
        <div class='center'>
            {{ form.submit }}
        </div>

    </fieldset>

</form>
<div class="coded center">
    <h3>Your Vigenere Coded Message is below</h3>
    <p> {{ code }} </p>
</div>



{% endblock %}